*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
/* mamber */
.mamber{
   box-shadow: 0 2px 10px 0 gray;
   transition: 0.3s ease-in-out;
}
.mamber:hover{
   box-shadow: 0 2px 10px 0 aqua;
   margin-top: -10px;
}
/* mamber end */



/* date */
.date{
   text-align: right;
   font-size: 20px;
   display: block;
}
/* date end */



