*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-transform: capitalize;
}

.poste{
    width: 100%;
    height: 600px;
    background-image: linear-gradient(to right, rgb(0, 0, 0, 0.5), rgb(73, 31, 31)), url(img/download.jfif);
    background-repeat: no-repeat;
    background-size: 100% 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-area{
    border: 2px solid white;
    width: 600px;
    height: 400px;
    text-align: center;
    border: none;

}

.textem{
    border: 1px solid white;
    width: 160px;
    height: 20px;
    margin: 15px;
    margin-left: 220px;
    background-color: #fff;
    border-radius: 25px;
    font-size: 12px;
}

.headtext{
    margin: 20px;
    text-align: center;
    
}